<!DOCTYPE html>
<html>
    <head>
        <title>Mash Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Mash Blog</a></h1>
        </header>

        <article>
            <time>published: 15.01.2026, 12:00</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post</p>
        </article>

        <article>
            <time>published: 17.01.2026, 03:00</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post</p>
        </article>
    </body>
</html>